h1, h2, .slogan, label, button, small {
    font-family: 'Julius Sans One', sans-serif;
}

#messages {
    height: 40vh;
    overflow-y: scroll;
}

#login {
    height: 90vh;
    padding-top: 10vh;
}

#viewer, #searcher, #all-disconnect {
    display: none;
}

.controls-container {
    margin-top: 1em;
}